@media (min-width: 1025px) {
    .blockCats{
        display: block;
    }
    .titleCats{
        padding-bottom: 60px;
        margin-left: 180px;
        padding-top: 20px;
        font-family: 'insaniburger';
        font-weight: 500;
    }
    .Cats{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
        margin-right: 200px;
        padding: 10px;
    }
}

@media (min-width: 650px) and (max-width: 1024px) {
    .blockCats{
        display: block;
    }
    .titleCats{
        padding-bottom: 20px;
        margin-left: 100px;
        padding-top: 20px;
        font-family: 'insaniburger';
        font-weight: 500;
    }
    .Cats{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
    }
}

@media (min-width: 300px) and (max-width:425px){
    .blockCats{
        display: block;
    }
    .titleCats{
        padding-bottom: 5px;
        margin-left: 50px;
        padding-top: 10px;
        font-family: 'insaniburger';
        font-weight: 500;
        font-size: 10px;
    }
    .Cats{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
}