@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@font-face {
    font-family: 'insaniburger';
    src: url('../../font/insaniburger/Insanibu.ttf');
}

@media (min-width: 1025px) {
    .mapa{
        background-color: #FF6023;
        height: 450px;
    }
    .tituloMapa{
        text-align: center;
        color: white;
        margin: 0;
        padding: 10px;
        padding-top: 30px;
        font-family: 'insaniburger';
        font-weight: 500;
    }
    .Mapa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 200px;
        margin-right: 200px;
        padding: 10px;
    }
    .linkMapa{
        text-decoration: none;
        color: black;
    }
    .textMapRec{
        color: white;
        font-size: 30px;
        font-family: 'insaniburger';
        font-weight: 500;
    }
}

@media (min-width: 650px) and (max-width: 1024px) {
    .mapa{
        background-color: #FF6023;
        height: 410px;
    }
    .tituloMapa{
        text-align: center;
        color: white;
        margin: 0;
        padding: 10px;
        padding-top: 30px;
        font-family: 'insaniburger';
        font-weight: 500;
        font-size: 27px;
    }
    .Mapa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        padding: 10px;
    }
    .linkMapa{
        text-decoration: none;
        color: black;
    }
    .textMapRec{
        color: white;
        font-size: 27px;
        font-family: 'insaniburger';
        font-weight: 500;
    }
}

@media (min-width: 300px) and (max-width:425px){
    .mapa{
        background-color: #FF6023;
        height: 300px;
    }
    .tituloMapa{
        text-align: center;
        color: white;
        margin: 0;
        padding: 10px;
        padding-top: 20px;
        font-family: 'insaniburger';
        font-weight: 500;
        font-size: 10px;
    }
    .Mapa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
    }
    .linkMapa{
        text-decoration: none;
        color: black;
    }
    .textMapRec{
        color: white;
        font-size: 10px;
        font-family: 'insaniburger';
        font-weight: 500;
    }
}